*{
    padding: 0px;
    margin: 0px;
}
.container{
    text-align: center;
    margin-top:23px
}
input{
    width: 109px;
    height: 102px;
    font-size: 57px;
    border-radius: 10px;
    margin: 5px 5px;
    background-color: rgba(245, 173, 38, 0.651);
    border-style: none;
}
body{
    background:url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
h1{
   
    font-family: 'Otomanopee One', sans-serif;
    color: purple;
    font-size: 60px;
    
}